.geoLocation-control {

}

.geoLocation-icon {
  background-color: #ffffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width:30px;
  height:30px;
  display: block;
}

.geoLocation-icon:hover {
  cursor:pointer;
}


.geoLocation-active {
  background-color: cadetblue;
}
