
.bontrax-navbar {
  height:6vh;
  padding:20px;
  background-color:cadetblue;
  z-index:99999999999;
  clear:both;
  top:0;
}

.navbar-title-container {
  float:left;
  padding:16px;

  span {
    color: white;
    text-align:center;
    font-family: 'Avenir Light', Verdana, Geneva, sans-serif;
  }
}
.navbar-title-header {
  font-weight:bold;
  font-size: 20px;
}

.navbar-title-sub-header {
  font-size: 14px;
}

.bontrax-navbar h3 {
  float:right;
  margin-right:3em;
  margin-top:0.3em;

}

.bontrax-navbar ul {
  float: right;
  margin-left: 1em;
  list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;
}

.bontrax-navbar li {
  float:left;
  font-size:medium;
  border-right:1px solid white;
  font-family: 'Avenir Light', Verdana, Geneva, sans-serif;
}

.bontrax-navbar li:hover {
  background:grey;
  cursor:pointer;

  a{
    color:black;
  }
  svg {
    color:black;
  }
}

.bontrax-navbar li a {
  display:block;
  color: white;
  font-weight:bold;
  text-align:center;
  padding:0px 16px;
  text-decoration:none;
}
