.addLayer-control {

}

.addLayer-icon {
  background-color: #ffffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width:30px;
  height:30px;
  display: block;
}

.addlayer-icon:hover {
  cursor:pointer;
}


.addLayer-active {
  background-color: cadetblue;
}
